:root {
    --location-color: #7aa5d0;
}

.forecast{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #295c8f;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.forecast .location{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 5px solid var(--location-color);
    background-color: var(--location-color);
    border-radius: 5px;
}
  
.forecast .city {
font-size: 26px;
color: rgba(255,255,255,0.9);
margin-bottom: 7px;
font-weight: bold;
text-align: center;
}